.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.content p{
    font-size: 15px;
}

.content h3{
    font-size: 17px;
    font-weight: $title-weight;
}



.benefits{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 15px;

    @media (min-width: 1000px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

.benefits img{
    width: 30%;

    @media (min-width: 480px) {
        width: 35%;
    }
    @media (min-width: 1000px) {
        width: 65%;
        align-self: center;
    }
}